<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test-Suite" >
    <test name="AllTests" >
        <classes>
            <class name="com.automation.api.tests.impact.ImpactTests" />
            <class name="com.automation.api.tests.activity.ProductivityTests" />
            <class name="com.automation.api.tests.activity.UtilizationTests" />
        </classes>
    </test>
</suite>
